$schema: "http://json-schema.org/draft-04/schema#"
description: snakemake configuration file
type: object
properties:
  samples:
    type: string
  units:
    type: string
  resources:
    type: string
    description: Path to resources.yaml file
  default_container:
    type: string
    description: name or path to a default docker/singularity container
  required:
    - samples
    - units
    - resources
    - default_container

  arriba:
    type: object
    description: parameters for arriba
    properties:
      assembly:
        type: string
        description: path to assembly file
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      blacklist:
        type: string
        description: path to file containing a blacklist
      container:
        type: string
        description: name or path to docker/singularity container
      extra:
        type: string
        description: extra parameters
      gtf:
        type: string
        description: path to gtf file containing annotations

  arriba_draw_fusion:
    type: object
    description: parameters for arriba_draw_fusion
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container
      cytobands:
        type: string
        description: path to cytobands file
      gtf:
        type: string
        description: path to gtf file containing annotations
      protein_domains:
        type: string
        description: path to protein domain file

  ctat_splicing_call:
    type: object
    description: parameters for ctat_splicing_call
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container
      ctat_genome_lib:
        type: string
        description: plug and play genome lib used by star-fusion.
      extra:
        type: string
        description: parameters that should be forwarded
      sample_name:
        type: string
        description: sample name used to name output files
      temp_result_dir:
        type: string
        description: temporary directory for output files

  ctat_splicing_filter:
    type: object
    description: parameters for ctat_splicing_filter
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container
      filtering_file:
        type: string
        description: File for filtering introns. Format is gene\tvariant_name\tnr_unique_support\n.

  filter_report_fuseq_wes:
    type: object
    properties:
      min_support:
        type: integer
        description: Minimal number of supporting reads.
      gene_white_list:
        type: string
        description: Genes which must be included in the fusion to be reported. Leave blank to report everything.
      gene_fusion_black_list:
        type: string
        description: Gene fusions that are false positives. Leave blank to skip.
      transcript_black_list:
        type: string
        description: Transcripts in the gtf file which should be skipped. Leave blank to skip.
      filter_on_fusiondb:
        type: boolean
        description: If True, only include fusions that are present in the Mitelman fusion database.
      gtf:
        type: string
        description: Path to gtf annotation file

  fuseq_wes:
    type: object
    properties:
      ref_json:
        type: string
        description: Reference file in json format.
      gtfSqlite:
        type: string
        description: Reference file in SQLlite format.
      fusiondb:
        type: string
        description: Known cancer fusions from the Mitelman fusion database.
      paralogdb:
        type: string
        description: Database of paralog genes.
      params:
        type: string
        description: Parameter file specifying filtering and other program parameters. Leave blank for default parameters.

  fusioncatcher:
    type: object
    description: parameters for fusioncatcher
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated for rule
      container:
        type: string
        description: name or path to docker/singularity container
      genome_path:
        type: string
        description: star-fusion reference path
      extra:
        type: string
        description: extra parameters to rule

  gene_fuse:
    type: object
    description: parameters for gene fuse
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated for rule
      container:
        type: string
        description: name or path to docker/singularity container
      extra:
        type: string
        description: extra parameters to rule

  gene_fuse_report:
    type: object
    description: parameters for gene fuse report generation
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated for rule
      container:
        type: string
        description: name or path to docker/singularity container
      genes:
        type: string
        description: path to gene files used by gene_fuse_report
      unique_read_limit:
        type: integer
        description: Lower limit (not inclusive) of unique reads needed for fusion to be included in report

  juli_call:
    type: object
    description: parameters for juli_call
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container
      extra:
        type: string
        description: parameters that should be forwarded
      gap_file:
        type: string
        description: gap information file from the UCSC database
      juli_version: 
        type: string
        description: version of the R package that should be loaded 
      ref_genes:
        type: string
        description: gene information file from the UCSC database

  juli_annotate:
    type: object
    description: parameters for juli_annotate
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container
      cosmic:
        type: string
        description: cosmic data file
      extra:
        type: string
        description: parameters that should be forwarded
      pfam:
        type: string
        description: Pfam data file
      ref_genes:
        type: string
        description: gene information file from the UCSC database
      uniprot:
        type: string
        description: Uniprot data file

  juli_filter:
    type: object
    description: parameters for juli_filter
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container
      cosmic_filter:
        type: boolean
        description: should fusions be filtered based on cosmic entries or not (default = True)
      discordant_limit:
        type: integer
        description: filter fusions based on minimum number of discordant read pairs (default = 0)
      split_reads_limit:
        type: integer
        description: filter fusions based on minimum number of split reads (default = 0)
      total_support_limit:
        type: integer
        description: filter fusions based on total number of read support (default = 0)

  star_fusion:
    type: object
    description: parameters for star fusion
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated for rule
      container:
        type: string
        description: name or path to docker/singularity container
      extra:
        type: string
        description: extra parameters to rule
      output_dir:
        type: string
        description: Output directory

